<div class="nav">
    <a [routerLink]="'/examples/basic'">Basic</a>
    <a [routerLink]="'/examples/reorder'">Reorder</a>
    <a [routerLink]="'/examples/transfer'">Transfer</a>
    <a [routerLink]="'/examples/handle'">Handle</a>
    <a [routerLink]="'/examples/preview'">Preview</a>
    <a [routerLink]="'/examples/placeholder'">Placeholder</a>
    <a [routerLink]="'/examples/orientation'">Orientation</a>
    <a [routerLink]="'/examples/wrap'">Wrap</a>
    <a [routerLink]="'/examples/restrict'">Restrict</a>
    <a [routerLink]="'/examples/restrict-axis'">Restrict Axis</a>
    <a [routerLink]="'/examples/dialog'">Dialog</a>
    <a [routerLink]="'/examples/container-control'">Container Control</a>
    <a [routerLink]="'/examples/disable-drag'">Disable Drag</a>
    <a [routerLink]="'/examples/delay-drag'">Delay Drag</a>
    <a [routerLink]="'/examples/sortable-table'">Sortable Table</a>
    <a [routerLink]="'/examples/sortable-tab'">Sortable Tab</a>
</div>

<router-outlet></router-outlet>