<div class="nav">
    <a [routerLink]="'/examples/basic'">Basic</a>
    <a [routerLink]="'/examples/reorder'">Reorder</a>
    <a [routerLink]="'/examples/transfer'">Transfer</a>
    <a [routerLink]="'/examples/handle'">Handle</a>
    <a [routerLink]="'/examples/preview'">Preview</a>
    <a [routerLink]="'/examples/placeholder'">Placeholder</a>
    <a [routerLink]="'/examples/orientation'">Orientation</a>
    <a [routerLink]="'/examples/wrap'">Wrap</a>
    <a [routerLink]="'/examples/restrict'">Restrict</a>
    <a [routerLink]="'/examples/restrict-axis'">Restrict Axis</a>
    <a [routerLink]="'/examples/dialog'">Dialog</a>
</div>

<router-outlet></router-outlet>